@import 'bem';
@import 'constants';

/* nav-bar */
@include block('nav-bar') {

  position: fixed;
  height: 3em;
  z-index: $z-nav;
  width: 100vw;
  background-color: #607D8B;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  /* nav-bar__container */
  @include element('container') {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 0.4em;

	color: $primary-color-text;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

	> *:first-child {
	  margin-left: 1em;
	}
  }

  /* nav-bar__title */
  @include element('title') {
	font-size: 1.4em;
	margin-left: 0.5em;
	display: inline-block;
	letter-spacing: 0.1em;
	font-family: "Open Sans Condensed", serif;

  }

  /* nav-bar__username */
  @include element('username') {
	margin-left: auto;
	margin-right: 1.5em;
  }
}

/* root-picker */
@include block('root-picker') {

  cursor: pointer;
  margin-left: 1em;
  padding: .1em 0.3em .1em .3em;
  border-radius: 2px;
  font-size: 1.2em;
  position: relative;

  .fa {
	margin-left: .5em;
  }

  /* root-picker--selecting */
  @include modifier('selecting') {
	background-color: #B0BEC5;
  }

  /* root-picker__root-selection */
  @include element('root-selection') {
	cursor: pointer;

	&:hover .name {
	  text-decoration: underline;
	}
  }

  /* root-picker__root-selection-last-update */
  @include element('root-selection-last-update') {
	font-size: .6em;
	margin-left: .5em;
	color: $divider-color;
  }
}

/* nav-modal-container */
@include block('nav-modal-container') {

  background-color: #607D8B;
  position: absolute;
  z-index: $z-modal;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 1em;
  white-space: nowrap;
  cursor: default;
  top: 2.8em;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);

  transition: all 0.25s cubic-bezier(.25,.8,.25,1);

  /* modal--visible */
  @include modifier('visible') {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
  }

  /* nav-modal-container__arrow */
  @include element('arrow') {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	bottom: 100%;
	position: absolute;

	border-bottom: 7px solid #607D8B;
  }

  /* nav-modal-container--left */
  @include modifier('left') {
	left: 0;
  }

  /* nav-modal-container--right */
  @include modifier('right') {
	right: 0;
  }
}