@import 'bem';
@import 'constants';

/* nav-bar */
@include block('nav-bar') {

  position: fixed;
  height: $nav-height;
  z-index: $z-nav;
  width: 100vw;

  background: linear-gradient(135deg, $nav-color-accent 7.5em, $nav-color 7.5em);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $primary-color-text;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  user-select: none;
  cursor: default;

  > *:first-child {
	margin-left: 1em;
  }

  > *:last-child {
	margin-right: 1em;
  }

  /* nav-bar__title */
  @include element('title') {
	font-size: 1.4em;
	margin-left: 0.5em;
	display: inline-block;
	//letter-spacing: 0.1em;
	font-family: "Merriweather", serif;
	white-space: nowrap;

	.fa {
	  margin-left: .2em;
	  color: #CDDC27;
	}
  }

  /* nav-bar__modal-trigger */
  @include element('modal-toggle') {
	cursor: pointer;
	padding: .1em 0.4em .2em 0.4em;
	border-radius: 2px;
	position: relative;

	/* nav-bar__modal-trigger--toggled */
	@include modifier('toggled') {
	  background-color: $accent-color;
	}
  }
}