@import 'bem';

@include block('note-columns') {
  position: fixed;
  display: auto;
  width: 100%;
  height: 100vh;

  @include element('column') {
	float: left;
	width: 33.333333%;
	display: flex;
	flex-direction: column;
	min-height: 100vw;
	align-content: center;
	position: relative;

	//> :first-child {
	//  margin-top: 50vh;
	//}
	//
	//> :last-child {
	//  margin-bottom: 50vh;
	//}
  }
}
