@import 'bem';
@import 'constants';

/* note-pane */
@include block('note-pane') {
  padding: 1em;
  color: $primary-color-text;
  background-color: #5C6BC0;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  cursor: default;
  min-height: 5em;
  position: relative;
  font-size: 1.1em;
  box-sizing: border-box;
  border: dashed 3px transparent;

   &:first-child {
	 border-radius: 3px 3px 0 0;
   }

  &:last-child {
	border-radius: 0 0 3px 3px;
  }

  &:not(:last-child) {
	border-bottom: 1px solid $divider-color;
  }

  &:only-child {
	border-radius: 3px;
  }

  /* note-pane--selected */
  @include modifier('selected') {
	cursor: text;
	background-color: #8E24AA;
  }

  /* note-pane--related */
  @include modifier('related') {
	background-color: #7E57C2;
  }

  /* note-pane--dirty */
  @include modifier('dirty') {
	background-color: #D81B60;
  }

  /* note-pane--highlight-up */
  @include modifier('move-before') {

	margin-top: $move-gap;

	&::before {
	  content: 'Press enter to move here';
	  color: $accent-color;
	  position: absolute;
	  width: 101%;
	  height: $move-gap + 1;
	  top: -$move-gap - 4;
	  left: -3px;
	  border: dashed 3px $accent-color;
	  box-sizing: border-box;
	  text-align: center;
	}
  }

  /* note-pane--highlight-down */
  @include modifier('move-after') {

	margin-bottom: $move-gap;

	&::after {
	  content: 'Press enter to move here';
	  color: $accent-color;
	  position: absolute;
	  width: 101%;
	  height: $move-gap + 1;
	  bottom: -$move-gap - 1;
	  left: -3px;
	  border: dashed 3px $accent-color;
	  box-sizing: border-box;
	  text-align: center;
	}
  }

  /* note-pane--moving */
  @include modifier('moving') {
	border: dashed 3px $accent-color;
  }

  /* note-pane__editor */
  @include element('editor') {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 1em;

	textarea {
	  background-color: inherit;
	  color: inherit;
	  border: none;
	  cursor: auto;
	  resize: none;
	  height: 100%;
	  width: 100%;

	  font-family: "Inconsolata", serif;
	  font-size: 1.1em;
	}
  }

  /* note-pane__viewer */
  @include element('viewer') {
	visibility: visible;
	opacity: 1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

	h1, h2, h3, h4, h5, h6 {
	  font-family: "Merriweather", serif;
	}

	a {
	  color: inherit;
	}

	/* note-pane__viewer--hidden */
	@include modifier('hidden') {
	  visibility: hidden;
	}
  }

  /* note-pane__close-button */
  @include element('close-button') {
	cursor: pointer;
	position: absolute;
	text-align: center;
	line-height: 3em;
	top: -1.5em;
	right: -1.5em;
	width: 3em;
	height: 3em;
	border-radius: 3em;
	background-color: #CDDC27;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
}