/*
*= require scss/note-column
*= require scss/note-pane
*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2Ps2ffLmIEIwAhSWOLEdpaQ2lGFeEOI6OABADvZJoK0b4dwAAAAAElFTkSuQmCC) repeat;
}

*:focus {
	outline: none;
}